.next-prev {
  margin-bottom: 0;
}

.next,
.prev {
  margin: var(--space-sm) 0;
}

hr {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

blockquote {
  background-color: var(--bg-2);
}

blockquote p {
  font-weight: 300;
}

.post > p,
.post > ul {
  color: var(--grey);
}

.post-padding {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.post-padding > *:not(.prism-code):not(blockquote) {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}
