.container {
  max-width: none;
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

.content-grid {
  align-items: flex-start;
}

.card-text {
  font-weight: 300;
}

.page {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--code-bg);
}

blockquote {
  border-radius: 0;
  box-shadow: none;
}

li {
  color: var(--text-color);
}

p,
li {
  font-weight: 300;
}

.btn {
  font-weight: 900;
  letter-spacing: var(--caps-letter-spacing);
}

@media (max-width: 850px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
