:root {
  --caps-letter-spacing: 0.11rem;
}

.content-grid {
  align-items: flex-start;
}

.card {
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}

.page {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--code-bg);
  overflow-y: scroll;
}

blockquote {
  border-radius: 0;
  box-shadow: none;
}

p,
li {
  color: var(--grey);
}

.btn {
  letter-spacing: var(--caps-letter-spacing);
  font: 700 var(--text-md) var(--sans);
}
